@import url('/static/fonts/junction/junction.css');

html {
    height: 100%;
}

body {
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
    height: 100%;

    font-family: 'Junction';
    font-size: 100%;
    background-color: #00111a;
    color: #ffffff;
}

a:link {
    color: #cceeff;
}

a:visited {
    color: #b3e6ff;
}

a:hover {
    color: #99ddff;
}

a:active {
    color: #ffffff;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.7em;
}

p {
  font-size: 1.1em;
}

header {
    text-align: center;
}

article {
    padding-bottom: 0.2em;
}

footer {
    flex-shrink: 0;
    padding: 0.5em;
}

.content {
    background-color: #002233;
    padding-top: 2%;
    padding-right: 4%;
    padding-left: 4%;
    border: 1px solid #cceeff;
    flex-grow: 1;
    overflow-y: auto;
}

.inner-margins {
    padding-left: 3%;
}

.inner-float {
    height: 5em;
}

.inner-left {
    float: left;
}

.inner-right {
    float: right;
}

#banner {
    width: 65%;
    max-width: 550px;
    max-height: 150px;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
    font-style: italic;
}
