@import "../static/fonts/junction/junction.css";
/*@import url("/static/fonts/junction/junction.css");*/

$font-stack: 'junction', serif;
$nav-width-fixed: 5rem;
$nav-width-drawer: 10rem;
$nav-padding: 0.5rem;
$content-bg: #111d22;
$content-fg: #d0edfb;

@mixin navimage {
    max-width: 75%;
    display: block;
    margin: 0.5rem auto 0.5rem;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #00334d;
    font-family: $font-stack;
    font-size: 100%;
}

a {
    &:link {
        color: #bee1f4;
    }

    &:visited {
        color: #93cdec;
    }

    &:hover {
        color: #e0c452;
    }

    &:active {
        color: #e8d37d;
    }
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1.3rem;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    background-color: $content-bg;
    color: $content-fg;
}

nav {
    position: absolute;
    left: 0;
    min-height: 100%;

    background-color: #00334d;
    color: #ffffff;
    border-right: 2px solid #ffd633;
    text-shadow: 2px 2px 2px #00111a;

    display:grid;
    grid-template-rows: max-content max-content auto max-content;

    a {
        &:link {
            color: #cceeff;
        }
    
        &:visited {
            color: #b3e4ff;
        }
    
        &:hover {
            color: #ffd633;
        }
    
        &:active {
            color: #ffe066;
        }
    }

    #burger, #toggle {
        grid-column: 1;
        grid-row: 1;
    }
    
    #burger {
        font-size: 4rem;
        width: $nav-width-fixed;
        padding: $nav-padding;
    
        img {
            @include navimage;
        }
    }
    
    #toggle {
        opacity: 0;
    }
    
    #toggle:not(:checked) ~ .drawer {
        display: none;
    }

    .profile {
        width: $nav-width-fixed;
        grid-column: 1;
        grid-row: 2;

        #avatar {
            width: 7.5rem;
            height: 7.5rem;
        }
    }

    .drawer {
        width: $nav-width-drawer;
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .info {
        width: $nav-width-fixed;
        padding: $nav-padding;
        grid-column: 1;
        grid-row: 3;
    }
    
    .links {
        width: $nav-width-fixed;
        padding: $nav-padding;
        grid-column: 1;
        grid-row: 4;

        img {
            @include navimage;
        }
    }
}

.content {
    height: 100%;
    margin-left: $nav-width-fixed + 2 * $nav-padding;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: inset 0px 0px 40px 20px #090e11;
}

header {
    flex-shrink: 0;
    text-align: center;
    text-shadow: 2px 3px 4px #000000;

    .blue {
        color: #99ddff;
    }

    .yellow {
        color: #ffe066;
    }
}

main {
    padding: 0 1rem 0;
    flex: 1 0 auto;
    padding: 0 1.5rem 0;

    text-shadow: 3px 4px 5px #000000;

    .section {
        clear: both;
    }
}

footer {
    flex-shrink: 0;
    padding: 0.3rem 0.4rem 0.2rem;
    background-color: $content-fg;
    color: $content-bg;

    a {
        &:link {
            color: #00324d;
        }
    
        &:visited {
            color: #134d6c;
        }
    
        &:hover {
            color: #ad911f;
        }
    
        &:active {
            color: #826d17;
        }
    }

    #footer-left {
        float: left;
    
        img {
            margin: 0 0.2rem -0.1rem 0rem;
        }
    }
    
    #footer-right {
        float: right;
        font-style: italic;
    }
}