@import url('/static/fonts/junction/junction.css');

html, body {
    font-family: 'Junction';
    background-color: #00111a;
    color: #ffffff;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: hidden;
}

a:link {
    color: #cceeff;
}

a:visited {
    color: #b3e6ff;
}

a:hover {
    color: #99ddff;
}

a:active {
    color: #ffffff;
}

header {
    text-align: center;
}

footer {
    font-style: italic;
    text-align: right;
    flex-shrink: 0;
}

.content {
    background-color: #002233;
    padding-right: 5%;
    padding-left: 5%;
    border: 1px solid #cceeff;
    flex-grow: 1;
    overflow-y: scroll;
}

.inner-margins {
    padding-left: 5%;
}

#banner {
    width: 45%;
    max-width: 550px;
    max-height: 250px;
}
