@import url('/static/fonts/junction/junction.css');

html, body {
    font-family: 'Junction';
    background-color: #00111a;
    color: #ffffff;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: hidden;
}

a:link {
    color: #cceeff;
}

a:visited {
    color: #b3e6ff;
}

a:hover {
    color: #99ddff;
}

a:active {
    color: #ffffff;
}

header {
    text-align: center;
}

article {
    padding-bottom: 0.2em;
}

footer {
    flex-shrink: 0;
    padding: 0.5em;
}

.content {
    background-color: #002233;
    padding-right: 5%;
    padding-left: 5%;
    border: 1px solid #cceeff;
    flex-grow: 1;
    overflow-y: auto;
}

.inner-margins {
    padding-left: 3%;
}

#banner {
    width: 45%;
    max-width: 550px;
    max-height: 150px;
}

#credits {
    float: left;
}

#powered-by {
    float: right;
    font-style: italic;
}
