@import url("/static/fonts/junction/junction.css");

$font-stack: 'junction', serif;
$nav-size-fixed: 5rem;
$nav-size-drawer: 15rem;
$nav-padding: 0.5rem;
$content-bg: #111d22;
$content-fg: #d0edfb;

@mixin navimage {
    max-width: 65%;
    display: block;

    @media (min-width: 700px) {
        margin: $nav-padding auto $nav-padding;
    }

    @media (max-width: 700px) {
        margin: auto $nav-padding auto;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #00334d;
    font-family: $font-stack;
    font-size: 100%;
}

a {
    &:link {
        color: #bee1f4;
    }

    &:visited {
        color: #93cdec;
    }

    &:hover {
        color: #e0c452;
    }

    &:active {
        color: #e8d37d;
    }
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1.3rem;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    background-color: $content-bg;
    color: $content-fg;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00334d;
    color: #ffffff;
    text-shadow: 2px 2px 2px #00111a;
    display:grid;
    z-index: 2;

    @media (min-width: 700px) {
        min-height: 100%;
        border-right: 2px solid #ffd633;
        grid-template-rows: max-content auto max-content;
    }

    @media (max-width: 700px) {
        min-width: 100%;
        border-bottom: 2px solid #ffd633;
        grid-template-columns: max-content auto max-content;
    }

    a {
        &:link {
            color: #cceeff;
        }
    
        &:visited {
            color: #b3e4ff;
        }
    
        &:hover {
            color: #ffd633;
        }
    
        &:active {
            color: #ffe066;
        }
    }

    #burger, #toggle {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        align-items: center;
    }
    
    #burger {
        width: $nav-size-fixed;
        height: $nav-size-fixed;
        padding: $nav-padding;
    
        img {
            @include navimage;
        }
    }
    
    #toggle {
        opacity: 0;
    }
    
    #toggle:not(:checked) ~ .drawer {
        display: none;
    }

    .profile {
        @media (min-width: 700px) {
            width: $nav-size-fixed;
            grid-column: 1;
            grid-row: 2;
        }
    
        @media (max-width: 700px) {
            height: $nav-size-fixed;
            grid-column: 3;
            grid-row: 1;
        }

        #avatar {
            width: 7.5rem;
            height: 7.5rem;
        }
    }

    .drawer {
        @media (min-width: 700px) {
            width: $nav-size-drawer;
            margin-left: 2.5rem;
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    
        @media (max-width: 700px) {
            margin-left: 1.5rem;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;
        }
    }

    
    .links {
        padding: $nav-padding;

        @media (min-width: 700px) {
            width: $nav-size-fixed;
            grid-column: 1;
            grid-row: 3;
        }
    
        @media (max-width: 700px) {
            display: none;
        }

        img {
            @include navimage;
        }
    }
}

.content {
    position:absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0;
    @media (min-width: 700px) {
        margin-left: $nav-size-fixed + 2 * $nav-padding;
    }
    @media (max-width: 700px) {
        margin-top: $nav-size-fixed + 2 * $nav-padding;
    }

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: inset 0px 0px 40px 20px #090e11;
    z-index: 1;
}

header {
    flex-shrink: 0;
    text-align: center;
    text-shadow: 2px 3px 4px #000000;

    pre {
        font-family: monospace;

        @media (min-width: 700px) {
            font-size: 0.8rem;
        }
        @media (max-width: 700px) {
            font-size: 0.65rem;
        }
    }

    .blue {
        color: #99ddff;
    }

    .yellow {
        color: #ffe066;
    }
}

main {
    padding: 0 1rem 0;
    flex: 1 0 auto;
    padding: 0 1.5rem 0;

    text-shadow: 3px 4px 5px #000000;

    .section {
        clear: both;
    }
}

footer {
    flex-shrink: 0;
    padding: 0.3rem 0.4rem 0.2rem;
    background-color: $content-fg;
    color: $content-bg;

    a {
        &:link {
            color: #00324d;
        }
    
        &:visited {
            color: #134d6c;
        }
    
        &:hover {
            color: #ad911f;
        }
    
        &:active {
            color: #826d17;
        }
    }

    #footer-left {
        float: left;
    
        img {
            margin: 0 0.2rem -0.1rem 0rem;
        }
    }
    
    #footer-right {
        float: right;
        font-style: italic;
    }
}
