<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="{{static('global-style.css')}}">
    <title>{{ entry.title }}</title>
</head>

<body>
    <header>
        <a href="{{category.link}}">
            <img src="{{static('images/site-banner.png')}}" alt="{{ category.name or 'JNP-3R.NET' }}" id="banner">
        </a>
    </header>

    <div class="content">
        <a href="{{category.link}}"><p>Go Back...</p></a>
        <h2>{{ entry.title }}</h2>

        <div class="inner-margins">
        <article>
            {{ entry.body }}
            {{ entry.more }}
        </article>
        </div>
    </div>

    <footer>
        <span id="footer-left"><a href="/3-Acknowledgements">Credits</a></span>
        <span id="footer-right">Powered by <a href="https://publ.plaidweb.site">Publ</a></span>
    </footer>
</body>
</html>
