<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="canonical" href="https://jnp-3r.net"/>
    <link rel="stylesheet" href="{{static('global-style.css')}}"/>
    <title>JNP-3R.net</title>
    <meta name="author" content="Juniper"/>
    <meta name="description" content="Juniper's Personal Website"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffd633"/>
</head>

<body>
    <header>
        <img src="{{static('images/site-banner.png')}}" alt="JNP-3R.NET" id="banner">
    </header>

    <main>
        <div class="section">
        <h2>Welcome!</h2>
        <div class="inner-margins">
           <p>Hi there! I'm Juniper. I write code and pretend to be a robot cat on the internet.</p>
           <p>Here you'll find writing, music, and links to my projects</p>
        </div>

        <div class="section">
            <a href="/blog" class="inner-left"><h1>Personal Blog</h1></a>
            <a href="" class="inner-right"><h1>Portfolio (coming soon)</h1></a>
        </div>
        </div>

        <div class="section">
        <h2>Lynx:</h2>
        <div class="inner-margins">
            <p>Other places I can be found on the net:</p>
            <ul>
                <li><p><a href="https://github.com/juniperlynx">GitHub:</a> Source for project files and code.</p></li>
                <li><p><a href="https://hackaday.io/juniper">Hackaday.io:</a> Project writeups, pictures, and other information.</p></li>
                <li><p><a href="https://deviantart.com/juniper-lynx">Deviantart:</a> My artwork. Mostly digital and furry.</p></li>
            </ul>
        </div>
        </div>
    </main>

    <footer>
        <span id="footer-left">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
            </a>
            <a href="/3-Acknowledgements">Credits</a>
        </span>
        <span id="footer-right">Powered by <a href="https://publ.plaidweb.site">Publ</a></span>
    </footer>
</body>
</html>
