<!DOCTYPE html>
<html>
    <head>
        <link rel="canonical" href="https://jnp-3r.net"/>
        <link rel="stylesheet" href="{{static('global-style.css')}}"/>
        <title>JNP-3R.net</title>
        <meta name="author" content="Juniper"/>
        <meta name="description" content="Juniper&#39;s Personal Website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#ffd633"/>
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <input type="checkbox" id="toggle"/>

                <label for="toggle" id="burger"><img alt="Menu" src="{{static('images/navbar/burger-128.png')}}" /></label>

                <div class="profile">
                    <img id="avatar" alt="Avatar" src="{{static('images/avatar-256.png')}}" />
                </div>

                <div class="info">
                    <p>Stuff</p>
                </div>

                <div class="links">
                    <p>My Work:</p>
                    <a href="https://github.com/juniperlynx"><img alt="Github" src="{{static('images/navbar/github-128.png')}}" /></a>
                    <a href="https://www.deviantart.com/juniper-lynx"><img alt="DeviantArt" src="{{static('images/navbar/da-128.png')}}" /></a>

                    <p>Contact:</p>
                    <a href="mailto:juniper@jnp-3r.net"><img alt="Email" src="{{static('images/navbar/email-128.png')}}" /></a>
                    <a href="https://t.me/JuniperLynx"><img alt="Telegram" src="{{static('images/navbar/telegram-128.png')}}" /></a>
                    <a href="https://discordapp.com/users/479858079966429184"><img alt="Discord" src="{{static('images/navbar/discord-128.png')}}" /></a>
                </div>
    
                <div class="drawer">
                    <p>Site Links:</p>
                    <ul>
                        <li><a href="https://portfolio.jnp-3r.net" class="inner-right">Portfolio</a></li>
                        <li><a href="/blog" class="inner-left">Blog</a></li>
                    </ul>
                    <p>My Work:</p>
                    <ul>
                        <li><a href="https://github.com/juniperlynx">GitHub</a></li>
                        <li><a href="https://www.deviantart.com/juniper-lynx">DeviantArt</a></li>
                    </ul>
                    <p>Contact:</p>
                    <ul>
                        <li><a href="mailto:juniper@jnp-3r.net">Email</a></li>
                        <li><a href="https://t.me/JuniperLynx">Telegram</a></li>
                        <li><a href="https://discordapp.com/users/479858079966429184">Discord</a></li>
                    </ul>
                </div>
            </nav>
            <div class="content">
                <header>
                    <pre>
<span class="blue">   888888 888b    888 8888888b.          .d8888b.  8888888b. </span><span class="yellow">                       888   </span>
<span class="blue">    "88b 8888b   888 888   Y88b        d88P  Y88b 888   Y88b </span><span class="yellow">                      888    </span>
<span class="blue">     888 88888b  888 888    888             .d88P 888    888 </span><span class="yellow">                      888    </span>
<span class="blue">     888 888Y88b 888 888   d88P            8888"  888   d88P </span><span class="yellow">    88888b.   .d88b.  888888 </span>
<span class="blue">     888 888 Y88b888 8888888P"  88888       "Y8b. 8888888P"  </span><span class="yellow">    888 "88b d8P  Y8b 888    </span>
<span class="blue">     888 888  Y88888 888        88888  888    888 888 T88b   </span><span class="yellow">    888  888 88888888 888    </span>
<span class="blue">     88P 888   Y8888 888               Y88b  d88P 888  T88b  </span><span class="yellow">d8b 888  888 Y8b.     Y88b.  </span>
<span class="blue">     888 888    Y888 888                "Y8888P"  888   T88b </span><span class="yellow">Y8P 888  888  "Y8888   "Y888 </span>
<span class="blue">   .d88P                                                     </span><span class="yellow">                             </span>
<span class="blue"> .d88P"                                                      </span><span class="yellow">                             </span>
<span class="blue">888P"                                                        </span><span class="yellow">                             </span>
                    </pre>
                </header>
                <main>
                    <div class="section">
                        <h2>Welcome!</h2>
                        <div class="inner-margins">
                           <p>Hi there! I'm Juniper. I write code and pretend to be a robot cat on the internet.</p>
                           <p>Here you'll find writing, music, and links to my projects</p>
                        </div>
                    </div>
                
                    <div class="section">
                        <h2>Lynx:</h2>
                        <div class="inner-margins">
                            <p>Links to other places I can be found on the net:</p>
                            <ul>
                                <li><p><a href="https://github.com/juniperlynx">GitHub:</a> Source for project files and code.</p></li>
                                <li><p><a href="https://hackaday.io/juniper">Hackaday.io:</a> Project writeups, pictures, and other information.</p></li>
                                <li><p><a href="https://deviantart.com/juniper-lynx">Deviantart:</a> My artwork. Mostly digital and furry.</p></li>
                            </ul>
                        </div>
                    </div>
                </main>
                <footer>
                    <span id="footer-left">
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
                        </a>
                        <a href="/3-Acknowledgements">Credits</a>
                    </span>
                    <span id="footer-right">Powered by <a href="https://publ.plaidweb.site">Publ</a></span>
                </footer>
            </div>
        </div>
    </body>
</html>